Lifetime_Efficiency_0327/新增資料夾/

Scan_Spectrum_0114/Scan_RF/
Scan_Spectrum_0114/Scan_U2/Scan U2 Electron Lablog/
Scan_Spectrum_0114/Scan_U2/Data/
Scan_Spectrum_0114/Scan_U2/Gaussian_Fitting/

Lifetime_Efficiency_0401/plot result/
Lifetime_Efficiency_0401/data/



